@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-neutral-950 text-neutral-50;
}

.glass {
  @apply bg-white/5 backdrop-blur border border-white/10;
}
